/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fafafa;
    background: linear-gradient(135deg, #141e30, #243b55);
}

/*Navbar*/
header {
    background: rgba(0, 0, 0, 0.85);
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6b81;
    text-transform: uppercase;
    text-align: left;
    flex: 1; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff6b81;
    transition: 0.3s ease;
}

.right-links {
    flex: 1; 
    justify-content: flex-end;
}

.cta-button a {
    padding: 10px 25px;
    margin-left: 30px;
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button a:hover {
    background-color: #ff3b59;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #fff;
}


/* Banner Section */
.banner {
    background-image: url('Pictures/large-tsunami-wave-crashing-into.jpg');
    /* opacity:0.1 ; */
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
    color: white;
}

.banner h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
    margin-bottom: 0;
}

/* The sidebar menu */

.sidenav {
    margin-top: 65px;
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav h3 {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 29px;
}

.sidenav .content {
    margin-top: 30px;
}

.sidenav a {
    margin-top: 15px;
    margin-bottom: 15px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: floralwhite;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

.dropdown a{
    font-size: 16px;
}

.button{
    background: transparent;
    border: none;
    height: 15px;
    width : 15px;
    color: floralwhite;
    font-size: 20px;
}

.occurence{
    display: flex;
    align-items: center
}

.effects {
    display: flex;
    align-items: center
}

/* Sections */

section {
    padding: 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.container h4{
    font-size: 25px;
}

.container h5{
    font-size: 20px;
}

.prepare .container ul li{
    margin-left: 50px;
}

.Effects .container ul li{
    margin-left: 50px;
}


h3 {
    text-align: left;
    font-size: 36px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
    object-fit: cover;
}

footer {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #151f2f;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
  color: white;
  font-size: 14px;
  margin: 0;
}

footer nav {
  margin-top: 10px;
}

footer nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin: 0 10px;
  font-size: 14px;
}

footer nav a:hover {
  text-decoration: underline;
}

/* Responsive Navigation for Smaller Screens */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        gap: 30px;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
    }

    .navbar {
        justify-content: space-between;
        position: relative;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .mobile-menu-opened nav ul {
        display: flex;
        transform: translateY(0);
    }

    .cta-button {
        display: none;
    }
    
    .section-image {
        width: 100%; 
        height: auto; 
        max-width: 100%; 
        border-radius: 10px; 
    }
    
    .section h2{
        text-align: center;
    }
    
    .sidenav {
        padding-top: 15px;
    }
    
    .sidenav a {
        font-size: 18px;
    }
    
}
